/.vs/
/PUC.ComputacaoGrafica.Model/obj
/PUC.ComputacaoGrafica.Testes.Unidade/obj
/PUC.ComputacaoGrafica.Infraestrutura/obj
/bin/Debug
/bin/Debug
/PUC.ComputacaoGrafica.View/obj/Debug
/PUC.ComputacaoGrafica.Infraestrutura.cs/obj/Debug
/src/PUC.ComputacaoGrafica.Infraestrutura.cs/obj/Debug
/src/PUC.ComputacaoGrafica.Controller.cs/obj/Debug
/src/PUC.ComputacaoGrafica.Model/obj/Debug
/src/PUC.ComputacaoGrafica.Testes.Unidade/obj/Debug
/src/PUC.ComputacaoGrafica.View/obj/Debug
