/.vs/
/PUC.ComputacaoGrafica.Model/obj
/PUC.ComputacaoGrafica.Testes.Unidade/obj
/PUC.ComputacaoGrafica.Infraestrutura/obj
/bin/Debug
/bin/Debug
/PUC.ComputacaoGrafica.View/obj/Debug
/PUC.ComputacaoGrafica.Infraestrutura.cs/obj/Debug
/src/PUC.ComputacaoGrafica.Infraestrutura.cs/obj/Debug
/src/PUC.ComputacaoGrafica.Controller.cs/obj/Debug
/src/PUC.ComputacaoGrafica.Model/obj/Debug
/src/PUC.ComputacaoGrafica.Testes.Unidade/obj/Debug
/src/PUC.ComputacaoGrafica.View/obj/Debug
/src/PUC.ComputacaoGrafica.Persistencia/bin/Debug
/src/PUC.ComputacaoGrafica.Persistencia/obj/Debug
/src/PUC.ComputacaoGrafica.Controller/obj/Debug
/src/PUC.ComputacaoGrafica.Controller/bin/Debug
/src/PUC.ComputacaoGrafica.Controller/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/PUC.ComputacaoGrafica.Controller/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/PUC.ComputacaoGrafica.Controller/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/PUC.ComputacaoGrafica.Controller/obj/Debug/PUC.ComputacaoGrafica.Controller.csprojResolveAssemblyReference.cache
/src/PUC.ComputacaoGrafica.Controller/obj/Debug/PUC.ComputacaoGrafica.Controller.csproj.FileListAbsolute.txt
/src/PUC.ComputacaoGrafica.Controller/obj/Debug/PUC.ComputacaoGrafica.Controller.cs.pdb
/src/PUC.ComputacaoGrafica.Controller/obj/Debug/PUC.ComputacaoGrafica.Controller.cs.dll
/src/PUC.ComputacaoGrafica.Controller/obj/Debug/CoreCompileInputs.cache
/src/PUC.ComputacaoGrafica.Controller/obj/Debug
